@import "/src/styles/main.scss";

.header {
  background-color: var(--background-color);
  padding: $base-spacing;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include for-tablet {
    padding: $large-spacing;
  }

  @include for-desktop {
    padding: $base-spacing $large-spacing;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    gap: $base-spacing;

    @include for-tablet {
      flex-direction: row;
    }

    li {
      list-style: none;

      a {
        color: var(--text-color);
        text-decoration: none;
        font-size: $base-font-size;
        padding: $small-spacing $large-spacing;

        &:hover {
          color: var(--link-color);
        }
      }
    }
  }
}
