@import "/src/styles/main";

.header {
  background-color: var(--header-background-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;


  &__container {
    @include flex-center;
    width: 100%;
    justify-content: space-between;
  }

  &__menu-button {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text-color);

    &:focus {
      outline: none;
    }
  }

  &__nav {
    display: flex;

    &-list {
      display: flex;
      list-style: none;
      margin: 0;
      padding: $small-spacing;
      gap: $large-spacing;
    }
    &-item {
        padding: 0;

      @include for-tablet {
        padding: $large-spacing;
      }

      @include for-desktop {
        padding: $small-spacing;
      }

      a {
        text-decoration: none;
        color: var(--text-color);
        transition: color $transition-duration $transition-ease;

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    &--open {
      display: block;
      z-index: 101;
    }
  }

  @media (max-width: 768px) {
    &__menu-button {
      display: block;
    }

    &__nav {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: var(--header-background-color);
      border-top: 1px solid var(--border-color);
      box-shadow: $box-shadow;

      &-list {
        flex-direction: column;

        &-item {
          margin: 10px 0;

          a {
            padding: 10px 20px;
            display: block;
            width: 100%;
          }
        }
      }

      &--open {
        display: flex;
      }
    }
  }

  @include for-tablet {
    &__menu-button {
      display: none;
    }

    &__nav {
      display: flex;
      position: static;
      flex-direction: row;

      &-list {
        flex-direction: row;

        &-item {
          margin: 0 10px;
        }
      }
    }
  }
}
