@import "/src/styles/main";

.footer {
  @include flex-center;
  flex-direction: column;
  background-color: var(--header-background-color);
  padding: $small-spacing;
  margin-top: auto;
  text-align: center;
  color: var(--text-color);

  @include for-tablet {
    padding: $large-spacing;
    gap: $large-spacing;
    flex-direction: row;
  }

  &__section {
    margin-bottom: $large-spacing;
    flex: 1;

    @include for-tablet {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: $small-spacing;
      color: var(--primary-color);
    }

    p {
      margin: $small-spacing 0;
    }

    .heart {
      color: #f97171;
    }
  }

  &__links {
    display: flex;
    gap: $base-spacing;

    @include flex-center;

    a {
      color: var(--primary-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
