@import '/src/styles/main';

.theme-toggle {
  color: white;
  border: none;
  cursor: pointer;

  &.mobile-toggle {
    position: fixed;
    top: $small-spacing;
    right: $small-spacing;
    width: 40px;
    height: 40px;
    padding: $small-spacing;
    margin: $small-spacing;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;

    svg {
      width: 24px;
      height: 24px;
    }

    @include for-tablet {
      display: none;
    }
  }

  &.desktop-toggle {
    display: none;

    @include for-tablet {
      display: inline-block;

      .switch-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        padding: 0;
      }

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}
