@import "/src/styles/variables";

.theme-toggle {
  background-color: var(--button-background-color);
  color: white;
  padding: $small-spacing $large-spacing;
  border: none;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  cursor: pointer;
  transition: background-color $transition-duration $transition-ease;

  &:hover {
    background-color: var(--button-hover-color);
  }
}
