.App {
  position: relative;
  text-align: center;
  font-family: 'Arial', sans-serif;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensure background is behind all content */
}

.content-wrapper {
  position: relative;
  z-index: 1; /* Ensure content is on top of the background */
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-grow: 1;
  overflow: auto;
}
