@import "/src/styles/main";

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
  }

  .content-wrapper {
    flex-grow: 1;
    padding: var(--base-spacing);
    overflow-y: auto; // Ensure the content-wrapper is scrollable
  }
}
